[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
certifi = "==2024.2.2"
cffi = "==1.16.0"
charset-normalizer = "==3.3.2"
cryptography = "==42.0.7"
defusedxml = "==0.8.0rc2"
django = "==5.0.6"
django-cors-headers = "==4.3.1"
django-debug-toolbar = "==4.3.0"
django-filter = "==24.2"
django-templated-mail = "==1.1.1"
djangorestframework = "==3.15.1"
djangorestframework-simplejwt = "==5.3.1"
djoser = "==2.2.2"
drf-nested-routers = "==0.94.1"
idna = "==3.7"
oauthlib = "==3.2.2"
pillow = "==10.3.0"
pycparser = "==2.22"
pyjwt = "==2.8.0"
python3-openid = "==3.2.0"
redis = "==5.0.4"
requests = "==2.32.2"
requests-oauthlib = "==2.0.0"
social-auth-app-django = "==5.4.1"
social-auth-core = "==4.5.4"
sqlparse = "==0.5.0"
typing-extensions = "==4.11.0"
tzdata = "==2024.1"
urllib3 = "==2.2.1"
psycopg-binary = "*"
celery = "*"
flower = "*"
django-redis = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"
django-silk = "*"

[requires]
python_version = "3.10"
